.classifields-container{
    margin: 0 216px;
}
.classifields-container h2{
    font-size: 30px;
}
.classifields-container h3{
    font-size: 17px;
}
.classifields-container button{
    font-size: 12px;
}