.live-shopping-container{
    margin: 0 216px 300px 216px;
}
.name{
    font-size: 13px;
    color: white;
    margin-bottom: 6px;
}
.description{
    font-size: 10px;
    color: white;
}
.live-shopping-container h2{
font-size: 30px;
}
.live-shopping-container h3{
    font-size: 17px;
}
.live-shopping-container button{
    font-size: 12px;
    b
}
    
