.get-an-apple-container{
    margin: 0px 216px;
    background-color: #FAFAFC;
}
h1{
    color:#3E3F52;
    font-size: 40px;
}
.get-an-apple-container p{
    font-size: 12px;
    color: #3E3F52;
}
.get-an-apple-container button{
    background-color: #FFCC01;
    color: #06072C;
    border: 1px solid #FFCC01;
    font-size: 12px;
}