.Smart-phone-accessories-container{
    margin: 0 216px;
}
.Smart-phone-accessories-container span{
    font-size: 13px;
}
.Smart-phone-accessories-container h1{
    font-size: 30px;
    color: #3E3F52;
}
.Smart-phone-accessories-container button{
    font-size: 12px;
}